/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//
$navbar-default-color: yellow;
$navbar-default-link-color: black;
$navbar-default-brand-hover-color: 	#728005;
$navbar-default-link-active-color: #E12D4C;
$navbar-default-toggle-border-color: red;
$navbar-default-bg: #F9897C;
$navbar-default-link-hover-color: #F5D0CB;
$navbar-default-link-active-bg: #4F181E;
$navbar-default-toggle-icon-bar-bg: purple;
$dropdown-bg: #4F181E;
$dropdown-link-hover-bg: #4F181E;
$dropdown-link-color: #E12D4C;
$dropdown-link-active-color: pink;
$dropdown-link-hover-color: #B5D31F;



//



@import "bootstrap-sprockets";
@import "bootstrap";
//
div#main {
   margin: 100px;
}

body {
  background-color: #F0D5B7;
  font-family: 'Lobster', cursive;
}

.navbar-default .navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 30pt;
}
